body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 3% 0;
}

.section-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 10px;
}

.section-header {
  font-size: 28px;
  font-weight: bold;
}

.price-containers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.price-container {
  width: 30%;
  height: 140px;
  margin: 20px;
  min-width: 250px;
  font-size: 16px;
}

.history-container {
  width: 30%;
  height: 460px;
  margin: 20px;
  min-width: 250px;
  font-size: 13.5px;
}

.price-header {
  display: flex;
  flex-direction: row;
  height: 25%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #F0F8FF;
  font-size: 18px;
  font-weight: bold;
}

.history-header {
  display: flex;
  flex-direction: row;
  height: 35px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #F0F8FF;
  font-size: 18px;
  font-weight: bold;
}

.price-box {
  display: flex;
  flex-direction: row;
  height: 25%;
  align-items: center;
  padding: 1px 10px;
}

.history-box {
  display: flex;
  flex-direction: row;
  height: 35px;
  align-items: center;
  padding: 0 10px;
}

.price-box:nth-child(even),
.history-box:nth-child(even) {
  background-color: #f9f9f9;
}
.exchange {
  width: 30%;
  text-align: left;
}

.price {
  width: 70%;
  text-align: right;
}

.history-exchange {
  width: 25%;
  text-align: left;
}

.history-price {
  width: 30%;
  text-align: right;
}

.history-date {
  width: 45%;
  text-align: right;
}
