body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#main-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#price-containers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.price-container {
  border: solid 1px black;
  border-radius: 10px;
  width: 30%;
  height: 150px;
  padding: 0.5% 2%;
  margin: 1%;
  min-width: 250px;
  font-size: 20px;
}

.price-header {
  display: flex;
  flex-direction: row;
  height: 25%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.price-box {
  display: flex;
  flex-direction: row;
  height: 25%;
  align-items: center;
}

.exchange {
  width: 30%;
  text-align: left;
}

.price {
  width: 70%;
  text-align: right;
}
